.form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.field {
    margin: auto;
    position: relative;
    width: 30vw;
    min-width: 250px;
    min-height: 50px;
    height: 8vh;
    input {
        width: 130%;
    }
}
.btn {
    margin: auto;
}

h1{
    text-align: center;
    
}