.card__wrapper{
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;   
}


.card__card{
    display:flex;
    flex-direction: column;
    min-width: 300px;
    min-height: 400px;
    height: 70%;
    width: 70%;
    

}

.card__form{
    justify-self: center;
    margin:auto;
    width: 30vw;
    
}

.form2{
    display: flex;
    flex-direction: column;
}
.card_button {
    align-self: center;
}