<div class="display__wrapper" *ngIf="weatherData.cod==200; else errorMessage">
    <div class="card__wrapper">
        <mat-card class="card">
            <mat-card-header>
                <mat-card-title>{{weatherData.city_name}}</mat-card-title>
                <mat-card-subtitle>Temperature: {{weatherData.temperature}} &deg;C </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <img src="http://openweathermap.org/img/wn/{{weatherData.icon}}@2x.png"
                    alt="{{weatherData.description}}">
                <p>
                    <b>Desctiption:</b>
                    <br>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button (click)="likeFun()" mat-button>LIKE</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="list__wrapper">
        <mat-card class="list">
            <h2>More info</h2>
            <mat-list-item>Pressure: {{weatherData.pressure}} hPa </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Wind speed: {{weatherData.wind_speed}} m/s </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Temperature: {{weatherData.temperature}} </mat-list-item>
        </mat-card>
    </div>
</div>

<ng-template class="error__wrapper" #errorMessage>
    <div class="error__wrapper" >
        <mat-card class="card">
            <h1>Sorry server is propably down or you put a wrong City name :D</h1>
        </mat-card>
    </div>
</ng-template>